.appBackgroundImage {
  background-image: url('./backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 1;
  height: fit-content;
  border-radius: 5rem;
}